*{
    margin:0px;
    padding:0px;
}
h1 h2 h3{
    font-family: Gilroy extrabold;
}
h4 h5 h6{
    font-family: Bree serif regular
}
p{
    font-family:  Lato regular;
}





/* Header */
.header-frills {
    height: 17px;
    width: 100%;
    background: url(../BILDER/header-frills.png) center center repeat-x;
    position:absolute;
    z-index:1;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.status-responsive{
    margin-left:40%;
}

#status{
    width: 85px;
    float: right;
    margin-right:20px;
}

#status-dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:red;
    float:left;
    margin-right:5px;
    margin-top:6px
}

.nav-item a{
    font-family: Gilroy extrabold;
}





/* Footer */
footer{
    background-color: #363636;
    color:#ffffff
}
.info{
    width:99%;
    float:left;
    margin-top: 30px;
}
.info td{
    padding-right: 10px;    
}
.info p{
    text-decoration: none;
    padding:0px;
    margin:0px;
    font-family:Lato regular;
}
.info h6{
    font-family:Bree serif regular;
}
.footer-table{
    display:inline-block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width:200px;
    margin-left: 15%;
}
.social-media{
    display: inline-block;
    width: 100%;
    font-family: Gilroy extrabold;
}
footer a{
    color:#ffffff;
    transition: all .2s ease-in-out;
}





/* Main content Home page */
.infobox-long{
    margin: 30px 20px;
    border-radius: 5px;
    background-color: #ffb3b3;
    box-shadow: 5px 5px 11px -1px #000000;
    transition: all .2s ease-in-out;
}

.infobox-small{
    margin: 20px 20px;
    border-radius: 5px;
    background-color: #ffb3b3;
    box-shadow: 5px 5px 11px -1px #000000;
    transition: all .2s ease-in-out;
}

.infobox-content{
    margin: 20px 10px 20px 10px
}

.infobox-content h4{
    font-family: Gilroy extrabold;
    text-decoration: underline black solid;
    text-align: center;
}

.infobox-content h5{
    font-family: Bree serif regular;
    text-align: center;
}

.infobox-content p{
    font-family: Lato regular;
    text-align: center;
}

.infobox-content a{
    font-family: Gilroy extrabold;
    transition: all .2s ease-in-out;
    color: #1a1a1a;;
}





/* main content menu */
.main-content{
    width:100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.swiper-container {
    width: 100%;
    height: 1300px;
}

.swiper-slide {
    border:solid black 2px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    transition: all .2s ease-in-out;
}

.swiper-slide-active{
    box-shadow: -1px 10px 18px 6px rgba(0,0,0,0.31);
}

.swiper-slide img {
    display: block;
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.slide-content{
    margin: 20px 10px 20px 10px;
    text-align:center;
}

.slide-content-left{
    float: left;
    text-align: start;
    width:49%;
    margin-left:1%;
}

.slide-content-right{
    float:right;
    text-align: start;
    width:49%;
    margin-right:1%;
}

.slide-content-bottom{
    width:100%;
    display:inline-block
}

.food-title{
    font-weight: bold;
    margin-bottom: 15px;
    font-family: Lato regular;
}

.slide-content h3 h4{
    font-family: gilroy extrabold;
    text-decoration: underline solid black;
}
.slide-content h5{
    font-family: Bree serif regular;
    text-decoration: underline solid black;
}
.slide-content p{
    font-family: Lato regular;
}




/* Main content Om oss */
.box{
    width:100%;
    display:inline-block;
}

.Middle-section{
    width:100%;
    display:inline-block;
    background-color:#C60001;
    color:#ffffff;
    height: 100%;
}

.left{
    float:left;
    margin-left:2%;
}

.right{
    float:right;
    margin-right:2%;
}

.Text-box{
    width:48%;
}

.Img{
    width:48%;
}

.center{
    margin: 20px 26% 20px 26%
}

.Text{
    text-align: start;
    margin: 20px 40px 20px 40px;
}

.Text h3{
    text-decoration: underline solid black;
}

.Img picture{
    position: relative;
    width:100%
}

picture img{
    width:100%;
    height:100%;
}

.Text-box h3{
    font-family: Gilroy extrabold;
}

.Text-box h5{
    font-family: Bree serif regular;
}

.Text-box p{
    font-family: Lato regular;
}





/* Main content Contact us */
#formtable{
    Border:1px solid black;
    display:inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    width: 300px;
    background-color:#ffb3b3;
}

#javaForm{
    display:none;
}



footer a:hover{
    transform:scale(1.2);
    color:#ffb3b3
}
.infobox-long:hover{
    transform: scale(1.1);
    box-shadow: -1px 10px 18px 6px rgba(0,0,0,0.31);
}
.infobox-small:hover{
    transform: scale(1.1);
    box-shadow: -1px 10px 18px 6px rgba(0,0,0,0.31);

}
.infobox-long a:hover{
    color:#ffffff;
    text-decoration: none;
}
.infobox-small a:hover{
    color:#ffffff;
    text-decoration: none;
}

footer a:active{
    color:#000000;
}
.infobox-long a:active{
    color: #969696;;
    text-decoration: none;
}
.infobox-small a:active{
    color:#969696;
    text-decoration: none;
}




@media screen and (max-width:920px){
    .responsive-width{
        width: 450px !important;
    }
}

@media screen and (max-width:760px){
    .responsive-width{
        width: 600px !important;
    }
}

@media screen and (max-width:700px){
    .swiper-container {
        width: 100%;
        height: 1800px;
    }

    .slide-content-left{
        float:none;
        text-align: center;
        width:100%;
        margin:0px;
    }
    
    .slide-content-right{
        float:none;
        text-align: center;
        width:100%;
        margin:0px;
    }

    .responsive-width{
        width: 550px !important;
    }
}

@media screen and (max-width:600px){
    .Text-box{
        width:100%;
    }
    .Img{
        width: 100%;
        margin:0px;
    }
    .center{
        margin: 0px;
    }
    .Middle-section{
        display:inline-block;
        width: 100%;
    }
    .responsive-width{
        width: 520px !important;
    }
}

@media screen and (max-width:550px) {
    .swiper-container {
        width: 100%;
        height: 2100px !important;
    }
    .responsive-width{
        width: 370px !important;
    }
}

@media screen and (max-width:400px){
    .swiper-container {
        width: 100%;
        height: 2300px !important;
    }

    .responsive-width{
        width: 300px !important;
    }
}

